
{% extends 'header.html' %}
{% block title %}Thông tin người dùng{% endblock %}
{% block contents %}
{% load static %}
	<style>
		#conect_bank{
			background-image: url("{% static 'images/conect_icon.jpg' %}");
			background-size: cover;
		}
	</style>
	<h1 class="cd">Thông tin người dùng</h1>
	<div class="fund_info">
		<div class="fund_money">
			<div class="name_tag">
				Số tiền đã góp
			</div>
			{{s}} đ
		</div>
		<div class="avatar">
			<img src="{{u.User_Image}}" alt="" style="width: 200px; height: 200px; border-radius: 100px;">
			<div class="user_name">{{u.username}}</div>
			
		</div>
		<div class="fund_project">
			<div class="name_tag">
				Số dự án đã góp
			</div>
			{{pc}}
		</div>
	</div>
	<div class="box2">
		<div class="my_project">
			<div class="project">
				<div class="in1">
					<div class="tt">Số dự án</div>
					<div class="ct"> {{pc3}}</div>
				</div>
				<div class="in2">
					<div class="tt">Dự án thành công</div>
					<div class="ct">{{pc4}}</div>
				</div>
				<div class="in3">
					<div class="tt">Số tiền nhận</div>
					<div class="ct">{{pc5}}đ</div>
				</div>
			</div>
			<div class="balance">
				<div class="balance_tt">Số dư :</div>
				<div class="balance_value">{{pc6}} đ</div>
			</div>
		</div>
		<div class="user_info">
			<h6>Thông tin liên hệ</h6>
			<ul class="list_info">
				<li>Họ tên: {{pc7}}</li>
				<hr>
				<li>Email: {{pc8}}</li>
				<hr>
				<li>Số điện thoại: {{pc9}}</li>
				<hr>
			</ul>
			<div class="conectbt">
				<button type="button" id="conect_bank" ></button>
				<div class="conect_ct">Thêm kết nối</div>
			</div>
		</div>
	</div>

	<div id="popup">
		<div id="framep">
			<div class="cancel_btn">
				<button type="button" id="close_popup">X</button>
			</div>
			<div class="tt">Kết nối với:</div>
			<div class="icon">
				<img src="{% static 'images/facebook_icon.png' %}" alt="" style="width: 50px; height: 50px; background-color: transparent;" id="facebook_block">
				<img src="{% static 'images/google_icon.png' %}" alt="" style="width: 50px; height: 50px; background-color: transparent;" id="google_block">
			</div>
			<div id="polices">Điều khoản</div>
		</div>
	</div>

	<div id="frame_polices">
		
		<ol class="polices_content">
			<div class="polices_tt">
				Điều khoản
			</div>
		<li>Chịu trách nhiệm về những thông tin cá nhân cung cấp cho trang web khi bạn đăng ký sử dụng dịch vụ. </li>
		<li>Chịu trách nhiệm bảo vệ mật khẩu truy cập, và trách nhiệm của việc đăng nhập bằng mật khẩu của bạn, do hoặc không do bạn trực tiếp đăng nhập. </li>
		<li>Không được cung cấp các thông tin vi phạm pháp luật, trái với thuần phong mỹ tục, kinh doanh bất hợp pháp, gây hại đến các cá nhân/tổ chức khác. </li>
		<li>Không được cung cấp các thông tin thuộc sở hữu của chủ thể khác được bảo vệ bởi luật pháp trong và ngoài nước. </li>
		<li>Không được gây trở ngại, hạn chế cho việc sử dụng dịch vụ của người dùng khác.</li>
		<li>Không được phát tán các tập tin chứa virus, các chương trình phá hoại, hoặc các tập tin, chương trình phần mềm gây hại đến dịch vụ.</li>
		<div class="clplc">
			<button type="button" id="close_polices">ok</button>
		</div>
	</ol></div>
<div id="box3">

	<form action="{% url 'updatepass' pc11 %}" method="post" class="changepassbox">
		{% csrf_token %}
		<input type="text" name="check_pass" id="check_pass">
		<input type="text" name="new_pass" id="new_pass">
		<input type="text" name="checknew_pass" id="checknew_pass">
		<input type="submit" value="send">
	</form>
</div>
	<script src="{% static 'js/info.js' %}"></script>
{% endblock %}