{% extends 'header.html' %}
{% block title %}Thông tin người dùng{% endblock %}
{% block contents %}
{% load static %}
	<h1 class="cd">Thông tin người dùng</h1>
	<div class="fund_info">
		<div class="fund_money">
			<div class="name_tag">
				Số tiền đã góp
			</div>
			{{s}} $
		</div>
		<div class="avatar">
			<img src="{{u.Image.url}}" alt="" style="width: 200px; height: 200px; border-radius: 100px;">
			<div class="user_name">{{u.username}}</div>
			
		</div>
		<div class="fund_project">
			<div class="name_tag">
				Số dự án đã góp
			</div>
			{{pc}}
		</div>
	</div>
	<div class="box2">
		<div class="my_project">
			<div class="project">
				<div class="in1">
					<div class="tt">Số dự án</div>
					<div class="ct"> {{pc3}}</div>
				</div>
				<div class="in2">
					<div class="tt">Dự án thành công</div>
					<div class="ct">{{pc4}}</div>
				</div>
				<div class="in3">
					<div class="tt">Số tiền nhận</div>
					<div class="ct">{{pc5}} $</div>
				</div>
			</div>
			<div class="balance">
				<div class="balance_tt">Số dư :</div>
				<div class="balance_value">{{pc6}} $</div>
			</div>
		</div>
		<div class="user_info">
			<h6>Thông tin liên hệ</h6>
			<ul class="list_info">
				<li>Họ tên: {{pc7}}</li>
				<hr>
				<li>Email: {{pc8}}</li>
				<hr>
				<li>Số điện thoại: {{pc9}}</li>
				<hr>
			</ul>
		</div>
	</div>

	<div id="popup">
		<div id="framep">
			<div class="cancel_btn">
				<button type="button" id="close_popup">X</button>
			</div>
			<div class="icon">
				<img src="{% static 'images/facebook_icon.png' %}" alt="" style="width: 50px; height: 50px; background-color: transparent;">
				<img src="{% static 'images/google_icon.png' %}" alt="" style="width: 50px; height: 50px; background-color: transparent;">
			</div>
		</div>
	</div>

	<div class="change_pass">
		
	</div>

	<script src="{% static 'js/info.js' %}"></script>
{% endblock %}