<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href = "{% static 'css/project.css' %}" type="text/css">
</head>
<body>
    <div class="contain">
        <div class="header">
            <div class="header-top">
                <a href="" id="logo">π/2</a>
                <ul>
                    <li><a href="">Về chúng tôi</a></li>
                    <li><a href="">Tin tức</a></li>
                    <li><a href="">Dự án</a></li>
                    <li><a href="">Các dự án thành công</a></li>
                    {% if user.username %}
                        <li style='margin-right: 2px; text-decoration: none'> Xin chào <a href="">{{user.first_name}} {{user.last_name}}</a></li>| 
                        <li style='margin-left: 2px'><a href="{% url 'logout' %}">Đăng xuất</a></li>
                    {% else %}
                        <li style='margin-right: 2px'><a href="{% url 'register' %}">Đăng ký</a> </li>|
                        <li style='margin-left: 2px'><a href="{% url 'login' %}">Đăng nhập</a> </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        {% block contents %}
        {% endblock %}
    </div>    
</body>
</html>