{% extends 'base1.html' %}
{% block title %}Dự Án {{p.Title}}{% endblock %}
{% block contents %}
<hr class="hr1">
<div class="content">
    <div class="contenttop">
        <div class="left">
            <img src="{{p.Image.url}}" alt="">
        </div>
        <div class="right">
            <div class="project">
                <h1 class="project_title">{{ p.Title }}</h1>
                <i class="iown">by <b><a class="owner" href="">{{ p.Owner }}</a></b></i>
                <p class="project_shortdescribe">{{ p.ShortDescribe }}</p>
                <p class="cate">Phân loại: <i><b>{{p.Category}}</b></i></p>
                <ul class="project_data">
                    <li>
                        <div class="fundgoal">
                        <h5>{{p.GoalFund}} $</h5>
                        <h6>Funding goal</h6>
                        </div>
                    </li>
                    <li>
                        <div class="fundgoal">
                            <h5>{{p.RecentFund}} $</h5>
                            <h6>Funding recent</h6>
                        </div>
                    </li>
                    <li>
                        <div class="fundrecent">
                            <h5>{{p.DateEnd}}</h5>
                            <h6>End Project</h6>
                        </div>
                    </li>
                </ul>
                <progress class="project_progress" max="{{p.GoalFund}}" value="{{p.RecentFund}}"></progress>
                <div class="location"><i class="fa-solid fa-location-dot"></i><span> {{p.Location}}</span></div>
                <h3>Đã có {{p.fundproject_set.all.count}} người tham gia góp vốn</h3>
            </div>
            <button type="button" onclick=" location.href='fund'">Góp vốn</button>
        </div>
    </div>
    <hr>
    <div class="contentbelow">
        <div class="project_content">
            <h3 class="h4_ndct"><i class="fa-solid fa-arrows-turn-right"></i> Nội dung chi tiết</h3>
            <h2 class="title_content"><i class="fa-solid fa-book"></i> {{ p.Title }}</h2>
            <p class="hrc">++++++++++++++++++++++++++++++++++++++++++++++++++++++</p>
            <img class= "img_content" src="{{p.Image_Content.url}}" alt="">
            <p class="p_content">{{p.Content1}}</p>
            <p class="p_content">{{p.Content2}}</p>
            <p class="p_content">{{p.Content3}}</p>
            <p class="p_content">{{p.Content4}}</p>
        </div>
    </div>    
</div>
{% endblock %}