{% extends 'base1.html' %}
{% block title %}Project{% endblock %}
{% block contents %}
<div class="content">
    <div class="left">
        <img src="/static/images/{{p.Project_Images}}" alt="">
    </div>
    <div class="right">
        <div class="project">
            <h1 class="project_title">{{ p.Project_Title }}</h1>
            <i>by <a class="owner" href="">{{ p.Project_Owner }}</a></i>
            <p class="project_shortdescribe">{{ p.Project_ShortDescribe }}</p>
            <ul class="project_data">
                <li>
                    <div class="fundgoal">
                    <h5>{{p.Project_GoalFund}} $</h5>
                    <h6>Funding goal</h6>
                    </div>
                </li>
                <li>
                    <div class="fundgoal">
                        <h5>{{p.Project_RecentFund}} $</h5>
                        <h6>Funding recent</h6>
                    </div>
                </li>
                <li>
                    <div class="fundrecent">
                        <h5>{{p.Project_DateEnd}}</h5>
                        <h6>End Project</h6>
                    </div>
                </li>
            </ul>
            <progress class="project_progress" max="{{p.Project_GoalFund}}" value="{{p.Project_RecentFund}}"></progress>
        </div>
        <h3>Đã có {{p.fundproject_set.all.count}} người tham gia góp vốn</h3>
    </div>
</div>
<hr>
<div class="contentbelow">
    <div class="project_content">
        <h3 class="h4_ndct">Nội dung chi tiết</h3>
        <h2 class="title_content">{{ p.Project_Title }}</h2>
        <p class="p_content">{{p.Project_Content}}</p>
    </div>
    <div class="fund">
        <form action="" method="post">
            {% csrf_token %}
            <input type="number" name="number" min="0">
            <button type="submit">Thanh toán</button>
        </form>
    </div>
</div>

{% endblock %}