@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Lato&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Fira Sans', sans-serif;
    background-color: #dfe6e9;
}
.contain{
    width: 100%;
    margin: 0 auto;
}
ul{
    list-style: none;
}
.header{
    padding-top: 20px;
    height: 100px;
    width: 100%;
    background-size: cover;
    background-position: center;
}
a{
    text-decoration: none;
}
.header .header-top{
    margin: 0 auto;
    width: 85%;
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aliceblue;
    border-radius: 20px;
    box-shadow: 1px 5px 10px #0768b3;
    font-family: 'Lato', sans-serif;
}
.header .header-top ul{
    display: flex;
}
.header .header-top ul li{
    list-style: none;
    margin: 0 20px;
}
.header .header-top ul li:hover{
    text-decoration: underline;
}
.header .header-top #logo{
    font-size: 40px;
    font-weight:900;
    display: block;
    margin-left: 20px;
    color: #0984e3;
    font-family: 'Fira Sans', sans-serif;
}
.success{
    border-radius: 3px;
    border: solid 3px #710707;
    padding: 10px 20px;
    margin-left: 20px;
    background-color: #d68a8a;
    width: 400px;
}
.success h2{
    width: fit-content;
}